<section
    class="container theme-container mx-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-[64.4%_17.75%_17.75%] gap-4"
>
    <app-work-queue class="xl:h-full md:col-span-2 xl:col-span-1"></app-work-queue>
    <app-portfolio-goals class="xl:h-full"></app-portfolio-goals>
    <div class="grid xl:grid-rows-2 grid-rows-[auto_auto] gap-3.5 xl:h-full">
        <app-quick-actions class="theme-card p-4 xl:h-full block mb-3.5"></app-quick-actions>
        <app-market-intelligence class="theme-card p-4 xl:h-full"></app-market-intelligence>
    </div>
</section>

<section class="container theme-container mx-auto flex gap-4 mt-10 w-full overflow-x-auto">
    <app-my-accounts></app-my-accounts>
</section>
