<h2>Policies</h2>
<div class="mt-5 w-full theme-card grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
    @for (policy of policies(); track policy) {
        <div class="theme-card-inner w-full py-5 px-8 flex flex-col gap-2">
            <div class="flex gap-4 items-center">
                <div
                    [ngClass]="getIconClass(policy.icon)"
                    class="w-6 h-6"
                    [innerHTML]="getIcon(policy.icon)"
                ></div>

                <h4>
                    {{ policy.name }}
                </h4>
            </div>
            <div class="text-sm text-gray-400">
                Premium:
                <span class="text-white ml-1">{{ formatPremium(policy.premium) }}</span>
            </div>

            <div class="text-sm text-gray-400">
                Eff.Date:
                <span class="text-white ml-1">{{ formatDate(policy.effectiveDate) }}</span>
            </div>
        </div>
    }
</div>
